# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Entorno / checkpoints (NO subir)
.ipynb_checkpoints/
.ipython/
.mozilla/
.wget-hsts
*~
*.swp
*.tmp

# Outputs pesados CryoET (NO subir)
CryoET/training/
CryoET/mrc/
CryoET/resultados/
CryoET/model3d/*.mrc
CryoET/model3d/*.npy
CryoET/validation/*.json

# Sistema
.DS_Store
Thumbs.db
